/***************************************
            GENERAL STYLES
***************************************/
:root{
    --darkgrey:#2c3e50;
    --lightgrey:#3a546d;
    --green:#1abc9c;
    --white:#ffffff;
    --black:#000000;
}
body{
    color: var(--white);
    font-weight: bold;
}
a{
    text-decoration: none;
    color: var(--white);
}


/***************************************
            UTILITIES
***************************************/
/* Color */
.txt-black{
    color: var(--black);
}
.txt-white{
    color: var(--white);
}
.txt-grey{
    color: var(--darkgrey);
}
/* Margin padding */
.marg_top_big{
    margin-top: 2rem;
}
.marg_top{
    margin-top: 1rem;
}
.padd_bottom{
    padding-bottom: 1rem;
}
.padd_top{
    padding-top:1rem;
}
.padd_bottom_big{
    padding-bottom: 2rem;
}
.padd_top_big{
    padding-top:2rem;
}
/* Font size */

h5{
    font-size: 2rem;
    font-weight: 700;
}
.narrow_cont{
    width: 70%;
}


/***************************************
            SITE SECTION
***************************************/

/* Header */
header{
    background-color: var(--darkgrey);
    min-height: 4rem;
}
/* nav{
    margin: 0 auto;
}
nav i{
    font-size: 2rem;
} */
.navbar-toggler{
    color: var(--white);
}

/* Jumbotron */
#jumbotron{
    background-color: var(--green);
}
#jumbotron img{
    max-width: 100%;
    height: 250px;
}
.line{
    border-width: 3px;
    border-style: solid;
}
#jumbotron .line, #about .line{
    border-color:var(--white);
    background-color: var(--white);
}
.fa-star{
    font-size: 1.5rem;
}

/* Portfolio */
#portfolio .line, #form .line{
    border-color: var(--darkgrey);
    background-color: var(--darkgrey);

}
#portfolio img{
    max-width: 100%;
    border-radius: 10px;
}

/* About */
#about{
    background-color: var(--green);
}

/* Form */

#form input{
    border: 0;
    height: 1.5rem;
    width: 100%;
}
#form button{
    background-color: var(--green);
}



/* Footer */

/* Contacts */

footer{
    background-color: var(--lightgrey);
}
footer .titles{
    font-size: 1.3rem;
}
footer .channels i{
    vertical-align: middle;
    display: table-cell;
    height: 2rem;
    width: 2rem;
    text-align: center;
  }

#copyright{
    background-color: var(--darkgrey);
    height: 7rem;
}





/* DEBUG */
/* [class*="col"]{
    background-color: aqua;
    border: solid 2px black;
} */




